<%- include('header') %>
<%- include('navbar') %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <h2>Személyek</h2>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th class="namecol">Név</th>
                    <th class="fullnamecol">Teljes Név</th>
                    <th class="favcol">Kedvenc</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <%personList.forEach(function(p){%>
                <tr class="trow">
                    <td data-id="<%= p._id %>" class="namecol"><%= p.name %></td>
                    <td class="fullnamecol"><%= p.fullname%></td>
                    <td class="favcol"><%= p.favourite%></td>
                    <td class="text-right">
                        <a href="/people/mod/<%= p._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="/people/del/<%= p._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 text-center col-lg-3">
            <div id="wrapper">
                <h2>Kedvelt helyek</h2>
                    <ul id="favourites" class="fbox"></ul>
                <h2>Egyéb</h2>
                <ul id="other" class="fbox"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/people.js"></script>
<script>$( "#navbarSupportedContent" ).append( "<a class=\"btn btn-outline-success my-2 my-sm-0\" href=\"/people/add\"><i class=\"fas fa-plus\"></i> Új személy</a>" );</script>
<%- include('footer') %>