<%- include('header') %>
<%- include('navbar') %>
<div class="container">
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <h2>
                <% if(typeof pub=== 'undefined'){%>
                    Új kocsma
                <%} else{%>
                    Módosítás
                <%}%>
            </h2>

            <form method="post">
                <div class="form-group">
                    <label for="name">Név</label>
                    <input type="text" id="name" name="name" class="form-control" <%if(typeof pub!== 'undefined'){%> value="<%=pub.name-%>" <%}%> autofocus onfocus="this.setSelectionRange(this.value.length,this.value.length)">
                </div>
                <div class="form-group">
                    <label for="address">Cím</label>
                    <input type="text" id="address" name="address" class="form-control"  <%if(typeof pub!== 'undefined'){%> value="<%=pub.address%>" <%}%>>
                </div>
                <div class="form-group">
                    <label for="open">Nyitvatartás</label>
                    <input type="text" id="open" name="open" class="form-control"  <%if(typeof pub!== 'undefined'){%> value="<%=pub.open%>" <%}%>>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Mentés</button>
                    <a href="/pubs" class="btn btn-default">Vissza</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>